<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
</head>

<body>
<div class="container">

    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>

    <form method="post" th:action="@{/addBankAccount}" th:object="${bankAccount}">
        <h3 class="form-signin-heading">ADD NEW BANK ACCOUNT</h3>
        <input type="text" th:field="*{name}" placeholder="bank account name" class="form-control" /><br/>
        <button type="submit" th:text="Create" class="btn btn-lg btn-primary btn-block"></button>
    </form>
</div>
</body>
</html>