<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>bank transaction</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div class="container">
    <div class = "navigation_header">
        <a th:href="@{/home}" id="logo">PAY MY BUDDY</a>
        <div class="navigation">
            <a th:href="@{/home}">HOME</a>
            <a th:href="@{/transfer}">TRANSFER</a>
            <a th:href="@{/profile}" id="active_page">PROFILE</a>
            <a th:href="@{/contact}">CONTACT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>
    </div>

    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>

    <form method="post" th:action="@{/bankTransaction_bankToUser}" th:object="${bankTransaction}">
        <h3 class="form-signin-heading">CREDIT MY ACCOUNT</h3>

        <select th:field="*{bankAccount}">
            <option class="select-control" th:each="bankAccount: ${bankAccounts}" th:value="${bankAccount.id}" th:text="${bankAccount.name} + ' ' + ${bankAccount.amount}"/>
        </select><br/>
        <input type="number" th:field="*{amount}" placeholder="250" class="form-control" /><br/>
        <input type="text" th:field="*{comment}" placeholder="credit my account" class="form-control" /><br/>
        <button type="submit" th:text="Credit" class="button_submit"></button>
    </form><br/>

    <form method="post" th:action="@{/bankTransaction_userToBank}" th:object="${bankTransaction}">
        <h3 class="form-signin-heading">SEND FOUNDS TO MY BANK</h3>

        <select th:field="*{bankAccount}">
            <option class="select-control" th:each="bankAccount: ${bankAccounts}" th:value="${bankAccount.id}" th:text="${bankAccount.name} + ' ' + ${bankAccount.amount}"/>
        </select><br/>
        <input type="number" th:field="*{amount}" placeholder="250" class="form-control" /><br/>
        <input type="text" th:field="*{comment}" placeholder="credit my account" class="form-control" /><br/>
        <button type="submit" th:text="Send" class="button_submit"></button>
    </form>

</div>
</body>
</html>