<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
</head>
<body>
    <div class="container">
        <div class = "navigation">
            <a th:href="@{/home}">PAY MY BUDDY</a>
            <a th:href="@{/home}">HOME</a>
            <a th:href="@{/transfer}">TRANSFER</a>
            <a th:href="@{/profile}">PROFILE</a>
            <a th:href="@{/contact}">CONTACT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>

        <h1>CONTACT</h1>

        <div class="container">
            <form method="post" th:action="@{/contact_newFriend}">
                <h3 class="form-signin-heading">ADD NEW FRIEND</h3><br/>

                <input type="text" th:placeholder="newFriend" id="email" name="email" class="form-control" /><br/>
                <button type="Submit" th:text="search" class="btn btn-lg btn-primary btn-block" ></button>
            </form>
        </div>

        <h2 class="h2">My contacts</h2>
        <ul th:each="f: ${friendList}">
            <li th:text="${f.friend.firstname} + ' ' + ${f.friend.lastname}"></li>
        </ul>
    </div>
</body>
</html>