<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <div class = "navigation_header">
        <a th:href="@{/home}" id="logo">PAY MY BUDDY</a>
        <div class="navigation">
            <a th:href="@{/home}">HOME</a>
            <a th:href="@{/transfer}">TRANSFER</a>
            <a th:href="@{/profile}">PROFILE</a>
            <a th:href="@{/contact}" id="active_page">CONTACT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>
    </div>

    <div class="container_content">
        <h3>ADD NEW FRIEND</h3>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>

        <form class="form_inline" method="post" th:action="@{/contact}">
            <input type="text" th:placeholder="newFriend" id="email" name="email" class="form-control-friend" /><br/>
            <button type="Submit" th:text="add" class="button_submit_inline" ></button>
        </form>

        <h3 class="h2">My contacts</h3>
        <ul th:each="f: ${friendList}">
            <li th:text="${f.friend.firstname} + ' ' + ${f.friend.lastname}"></li></br>
        </ul>
    </div>
</body>
</html>