<!DOCTYPE html>
<html>

<head>
    <title>Create account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class="container_login">
        <form method="post" th:action="@{/createAccount}" th:object="${user}">
            <h3 class="form-signin-heading">CREATE ACCOUNT</h3><br/>

            <div align="center" th:if="${param.error}">
                <p>Invalid username or password</p>
            </div>
            <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>

            <input type="text" th:field="*{firstname}" placeholder="firstname" class="form-control" /><br/>
            <input type="text" th:field="*{lastname}" placeholder="lastname" class="form-control" /><br/>
            <input type="email" th:field="*{email}" placeholder="jdoe@mail.fr" class="form-control" /><br/>
            <input type="password" th:field="*{password}" placeholder="********" class="form-control" /><br/>
            <button type="submit" th:text="Create" class="button_submit"></button>
        </form>
    </div>
</body>
</html>