<!DOCTYPE html>
<html>

<head>
    <title>Edit account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
<div class="container_login">
    <form method="post" th:action="@{/editAccount}" th:object="${currentUser}">
        <h3 class="form-signin-heading">EDIT MY ACCOUNT</h3><br/>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>

        <input type="text" th:field="*{firstname}" value="${currentUser.firstname}" class="form-control" /><br/>
        <input type="text" th:field="*{lastname}" value="${currentUser.lastname}" class="form-control" /><br/>
        <input type="email" th:field="*{email}" value="${currentUser.email}" class="form-control" /><br/>
        <input type="password" th:field="*{password}" value="${currentUser.password}" class="form-control" /><br/>
        <button type="submit" th:text="Edit" class="button_submit"></button>
    </form><br/>

    <a th:href="@{/editAccount_delete}">Delete my account</a><br/>
</div>
</body>
</html>