<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <div class="container">
        <div class = "navigation_header">
            <a th:href="@{/home}" id="logo">PAY MY BUDDY</a>
            <div class="navigation">
                <a th:href="@{/home}" id="active_page">HOME</a>
                <a th:href="@{/transfer}">TRANSFER</a>
                <a th:href="@{/profile}">PROFILE</a>
                <a th:href="@{/contact}">CONTACT</a>
                <a th:href="@{/logout}">LOGOUT</a>
            </div>
        </div>

        <h2><div th:text="${welcomMessage}" /></h2><br />
    </div>
</body>
</html>