<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
</head>
<body>
    <div class="container">
        <div class = "navigation">
            <a th:href="@{/home}">PAY MY BUDDY</a>
            <a th:href="@{/home}">HOME</a>
            <a th:href="@{/transfer}">TRANSFER</a>
            <a th:href="@{/profile}">PROFILE</a>
            <a th:href="@{/contact}">CONTACT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>

        <h1>HOME</h1><br/>

        <h2><div th:text="${welcomMessage}" /></h2><br />
    </div>
</body>
</html>