<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
</head>
<body>
<div class="container">
    <div class = "navigation">
        <a th:href="@{/home}">PAY MY BUDDY</a>
        <a th:href="@{/home}">HOME</a>
        <a th:href="@{/transfer}">TRANSFER</a>
        <a th:href="@{/profile}">PROFILE</a>
        <a th:href="@{/contact}">CONTACT</a>
        <a th:href="@{/logout}">LOGOUT</a>
    </div>

    <h1>PROFILE</h1>

    <p>Firstname : <span th:text="${currentUser.firstname}"></span></p>
    <p>Lastname : <span th:text="${currentUser.lastname}"></span></p>
    <p>eMail : <span th:text="${currentUser.email}"></span></p>
    <p>Amount : <span th:text="${currentUser.amount}"></span></p>

    <p>My bank accounts :</p>
    <a th:href="@{/addBankAccount}">Add bank account</a><br/>
    <ul th:each="bankAccount: ${currentUser.bankAccountList}">
        <li><span th:text="${bankAccount.name} + ' ' + ${bankAccount.amount}"></li>
    </ul>

    <a th:href="@{/bankTransaction}">Credit my account</a><br/>
    <a th:href="@{/bankTransaction}">Get my money back</a>
</div>
</body>
</html>