<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <div class = "navigation_header">
        <a th:href="@{/home}" id="logo">PAY MY BUDDY</a>
        <div class="navigation">
            <a th:href="@{/home}">HOME</a>
            <a th:href="@{/transfer}">TRANSFER</a>
            <a th:href="@{/profile}" id="active_page">PROFILE</a>
            <a th:href="@{/contact}">CONTACT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>
    </div>

    <div class="container_content">
        <div class="profile_content">
            <div class="profile_links">
                <a th:href="@{/editAccount}">Edit my account</a><br/>
            </div>
            <div>
                <h2>My infos:</h2>
                <p>Firstname : <span th:text="${currentUser.firstname}"></span></p>
                <p>Lastname : <span th:text="${currentUser.lastname}"></span></p>
                <p>eMail : <span th:text="${currentUser.email}"></span></p>
                <p>Amount : <span th:text="${currentUser.amount}"></span></p>
            </div>
        </div>

        <div class="profile_content">
            <div class="profile_links">
                <div class="links"><a th:href="@{/addBankAccount}">Add bank account</a></div>
                <div class="links"><a th:href="@{/bankTransaction}">Credit my account</a></div>
                <div class="links"><a th:href="@{/bankTransaction}">Get my money back</a></div>
            </div>
            <div>
                <h2>My bank accounts:</h2>
                <ul th:each="bankAccount: ${currentUser.bankAccountList}">
                    <li><span th:text="${bankAccount.name} + ' ' + ${bankAccount.amount}"></li></br>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>