<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "navigation">
    <a th:href="@{/home}">PAY MY BUDDY</a><br />
    <a th:href="@{/home}">HOME</a><br />
    <a th:href="@{/transfer}">TRANSFER</a><br />
    <a th:href="@{/profile}">PROFILE</a><br />
    <a th:href="@{/contact}">CONTACT</a><br />
    <a th:href="@{/logout}">LOGOUT</a><br />
</div>


    <p>Firstname : <span th:text="${currentUser.firstname}"></span></p>
    <p>Lastname : <span th:text="${currentUser.lastname}"></span></p>
    <p>eMail : <span th:text="${currentUser.email}"></span></p>
    <p>Amount : <span th:text="${currentUser.amount}"></span></p>

</body>
</html>