<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>

    <h1>TRANSFER</h1>
    <br />
    <a th:href="@{/logout}">
        <button type="button">LOGOUT</button>
    </a>


    <div class="container">
        <form th:action="@{/transfer_newFriend}" method="POST" class="form-signin">
            <h3 class="form-signin-heading">ADD NEW FRIEND</h3><br/>

            <input type="text" th:placeholder="newFriend" id="newFriend" name="newFriend" class="form-control" /> <br/>
            <button type="Submit" th:text="search" class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" ></button>
        </form>
    </div>

    <div align="center" th:if="${newFriend != null}">
        <div th:text="${username}" />
    </div>

    <h2 class="h2">friend list</h2>
    <table>
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="friend: ${frindList}">
            <td><span th:text="${friend.firstname}"> Prénom </span></td>
            <td><span th:text="${friend.lastname}"> Nom </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>